# This is a basic workflow to help you get started with Actions

name: Testin API GitHub

# Controls when the workflow will run
on:
  
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: newman run './GitHubAPI.postman_collection.json' --global-var "GitHub_Token=${{secrets.TOKEN}}" --gloabal-var "base_url=https://api.github.com" --global-var "owner=FerasWT" --global-var "repo=api-testing-demo" --global-var "Issue Number=4"


